/* Estilos base para el componente */
.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url('/img/web.png'); /* Cambia 'ruta-de-la-imagen.jpg' por la ruta de tu imagen de fondo */
  background-size: cover;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 2rem;
}

/* Estilos para el primer estado con un fondo diferente */

/* Estilos para el contenedor del botón */
.buttonContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  text-align: center;
  padding-block: 1rem;
  bottom: 0;
}
.secondButton {
  display: flex;
  justify-content: center;
  position: fixed;
  text-align: center;
  padding-block: 1rem;
  bottom: 0;
  right: 15px;
}
.goDownBtn {
  position: sticky;
  top: 80%;
  border: none;
  background: transparent;
  color: white;
  border-radius: 4px;
  font-family: inherit;
  margin-inline-start: 0.5rem;
  cursor: pointer;
}

.goDownBtnTwo {
  position: sticky;
  top: 80%;
  border: none;
  background: transparent;
  color: white;
  border-radius: 4px;
  font-family: inherit;
  margin-inline-start: 0.5rem;
  cursor: pointer;
}

/* Estilos adicionales para hacerlo responsive */
@media (max-width: 768px) {
  .header {
    background-image: url('/img/webcelular.png');
    font-size: 1.5rem;
  }

  .goDownBtn img {
    height: 60px;
    width: 60px;
  }
  .goDownBtnTwo {
    padding: 0;
  }

  .goDownBtnTwo img {
    height: 65px;
    width: 65px;
  }
}
