.backgroundContainer {
  background-image: url('/img/web_corr.png'); /* Ruta relativa a la carpeta 'public' */
  background-size: contain;
  background-repeat: no-repeat;
  /* Otros estilos que quieras aplicar al contenedor */
  height: 323rem;
  margin: 0;
  background-color: #cc4195;
  scroll-behavior: smooth;
}

.goDownBtn {
  position: sticky;
  top: 80%;
  border: none;
  background: #000;
  color: white;
  border-radius: 4px;
  padding: 1rem;
  font-family: inherit;
  margin-inline-start: 0.5rem;
  cursor: pointer;
}

.goDownBtn a {
  text-decoration: none;
  color: white;
}

.backgroundContainer button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.main_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 99%;
  box-sizing: border-box;
  height: 150px;
}

.goDownBtn:hover {
  scale: 1.05;
  transition: 0.5s;
}

.secondButton {
  position: sticky;
  text-align: center;
}

/* Media Queries */

/* Estilos para pantallas mayores a 1900px */

@media (max-width: 1366px) {
  .backgroundContainer {
    height: 265rem;
    background-size: 100%;
  }
}

@media (max-width: 821px) {
  .backgroundContainer {
    height: 175rem;
  }
}

/* Estilos para pantallas mayores a 700px */
@media screen and (max-width: 769px) {
  .backgroundContainer {
    background-size: 100%;
    height: 340rem;
    background-image: url('/img/webcelular.png'); /* Ruta relativa a la carpeta 'public' */
  }
}

@media screen and (max-width: 431px) {
  .backgroundContainer {
  }
}

/* Estilos para pantallas mayores a 400px */

@media (max-width: 415px) {
  .backgroundContainer {
    height: 185rem;
  }
}

@media screen and (max-width: 413px) {
  .backgroundContainer {
    height: 183rem;
  }
}

@media (max-width: 394px) {
  .backgroundContainer {
    height: 175rem;
  }
}
@media (max-width: 391px) {
  .backgroundContainer {
    height: 175rem;
  }
}

@media (max-width: 361px) {
  .backgroundContainer {
    height: 160rem;
  }
}
