.backgroundContainer {
  background-image: url('/img/web_corr.png'); /* Ruta relativa a la carpeta 'public' */
  background-size: contain;
  background-repeat: no-repeat;
  /* Otros estilos que quieras aplicar al contenedor */
  height: 340rem;
  margin: 0;
  background-color: #cc4195;
  scroll-behavior: smooth;
}

.goDownBtn {
  position: sticky;
  top: 80%;
  border: none;
  background: #000;
  color: white;
  border-radius: 4px;
  padding: 1rem;
  font-family: inherit;
  margin-inline-start: 0.5rem;
  cursor: pointer;
}

.goDownBtn a {
  text-decoration: none;
  color: white;
}

.main_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 99%;
  box-sizing: border-box;
  height: 150px;
}

.goDownBtn:hover {
  scale: 1.05;
  transition: 0.5s;
}

/* Media Queries */

/* Estilos para pantallas mayores a 1900px */

@media screen and (max-width: 1900px) {
  .backgroundContainer {
    height: 330rem;
  }

  .main_button {
    top: 700%;
  }
}

/* Estilos para pantallas mayores a 1800px */
@media screen and (max-width: 1800px) {
  .backgroundContainer {
    height: 330rem;
  }

  .main_button {
    top: 560%;
  }
}

/* Estilos para pantallas mayores a 1700px */
@media screen and (max-width: 1700px) {
  .backgroundContainer {
  }

  .main_button {
    top: 500%;
  }
}

/* Estilos para pantallas mayores a 1600px */
@media screen and (max-width: 1600px) {
  .backgroundContainer {
  }

  .main_button {
    top: 726%;
  }
}

/* Estilos para pantallas mayores a 1400px */
@media screen and (max-width: 1400px) {
  .backgroundContainer {
  }

  .main_button {
    top: 555%;
  }
}

/* Estilos para pantallas mayores a 1300px */
@media screen and (max-width: 1300px) {
  .backgroundContainer {
  }

  .main_button {
  }
}

/* Estilos para pantallas mayores a 1200px */
@media screen and (max-width: 1200px) {
  .backgroundContainer {
  }

  .main_button {
    top: 605%;
  }
}

@media screen and (max-width: ) {
}

/* Estilos para pantallas mayores a 1000px */
@media screen and (max-width: 1024px) {
  .backgroundContainer {
    height: 230rem;
  }

  .main_button {
    top: 260%;
  }
}

/* Estilos para pantallas mayores a 900px */
@media screen and (max-width: 940px) {
  .backgroundContainer {
    height: 206rem;
  }

  .main_button {
    top: 206rem;
  }
}

/* Estilos para pantallas mayores a 800px */
@media screen and (max-width: 820px) {
  .backgroundContainer {
    height: 190rem;
  }

  .main_button {
    top: 245%;
  }
}

/* Estilos para pantallas mayores a 700px */
@media screen and (max-width: 768px) {
  .backgroundContainer {
  }

  .main_button {
  }
}

/* Estilos para pantallas mayores a 600px */
@media screen and (max-width: 600px) {
  .backgroundContainer {
  }

  .main_button {
  }
}

/* Estilos para pantallas mayores a 500px */
@media screen and (max-width: 500px) {
  .backgroundContainer {
  }

  .main_button {
  }
}

/* Estilos para pantallas mayores a 400px */
@media screen and (max-width: 426px) {
  .backgroundContainer {
    height: 100rem;
  }

  .main_button {
    top: 235%;
  }
}

@media screen and (max-width: 426px) {
  .backgroundContainer {
    height: 100rem;
  }

  .main_button {
    top: 160%;
  }
}

/* Estilos para pantallas mayores a 300px */
@media screen and (max-width: 376px) {
  .backgroundContainer {
    height: 90rem;
  }

  .main_button {
    top: 195%;
  }
}
